.home-picture {
    height: 200px;
    border-radius: 25px;
}

.item-picture {
    height: 150px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  td, th {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
    padding: 5px;
  }

  tr:nth-child(even) {
    background-color: #94b9e2;
  }